.signup {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.signup button {
    border: 1px solid #5f0080;
    background-color: #fff;
    color: #5f0080;
    font-weight: 600;
    border-radius: 5px;
}



.signup__form__registDiv {
    display: flex;
    margin: auto;
}

.signup button:hover {
    border: 1px solid #5f0080;
    background-color: #eedff3;
    color: #5f0080;
    font-weight: 600;
    cursor: pointer;
}

.register__btn {
    width: 100%;
    height: 40px;
    margin: auto;
    background-color: #5f0080 !important;
    color: #fff !important;
    margin-top: 30px;
}



.signup__necessary {
    color: red;
}

.signup__title {
    text-align: center;
    margin-bottom: 30px;
}


.signup__title2 {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 30px;
}

.signup__title__span {
    text-align: right;
}



.signup__title__h2 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.signup__hr {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 4%;
}


.signup__form__email {
    display: grid;
    grid-template-columns: 1.2fr 3.6fr 1fr;
    /* grid-template-columns: 1fr 1fr 1fr;  */
    /* grid-template-columns: repate(3, 1fr); */
    /* grid-template-columns: 200px 1fr; */
    grid-gap: 1rem;
    grid-auto-rows: minmax(45px, auto);
}

.signup__form__emailCheck {
    display: grid;
    grid-template-columns: 1.1fr 2.8fr 1fr;
    margin: 0px;
    padding: 0px;
    height: 17px;
}

.signup__form__email__cancel {
    width: 14px;
}

.signup__form__password {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.2fr 3.6fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(45px, auto);
}

.signup__form__passwordConfrim {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.2fr 3.6fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(45px, auto);
}

.signup__form__name {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.2fr 3.6fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(45px, auto);
}

.signup__form__phone {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.2fr 3.6fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(45px, auto);
}

.signup__form__certification {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.2fr 3.6fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(45px, auto);
}

.signup__form__address {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.2fr 3.6fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(45px, auto);
}

.signup__form__address2 {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.2fr 3.6fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(45px, auto);
}

.signup__form__gender {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.2fr 3.6fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(45px, auto);
}
.signup__form__birthDay  {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.2fr 3.6fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(45px, auto);
}
.signup__form__birthDay div  {
    border: 1px solid black;
}

.signup__form__birthDay div:focus  {
    border: 3px solid rgb(245, 90, 90);
}


.signup__form__birthDay input  {
    width: 108px;
    height: 45px;
    border: 0px;
    text-align: center;
}

.signup__form__birthDay input:focus  {
    outline: none;
}





.signup__form__birthDay > label, .signup__form__certification > label, .signup__form__address2 > label, .signup__form__address > label, .signup__form__phone > label, .signup__form__name > label, .signup__form__email > label, .signup__form__password > label, .signup__form__passwordConfrim > label {
    align-self: center;
}


.signup__form__address__btn {
    font-size: 1rem;
}

.signup__form__img {
    width: 15px;
    height: 15px;
}

.signup li {
    list-style: none;
}








/* .signup input {
    height: 30px;
    width: 300px;
    font-size: 1.2rem;
}

.signup input:focus {
    outline: none;
    border-bottom: 3px solid;
    border-color: #000000;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .signup > * {
      margin-top: 1%;
  }

.signup__signupBtn {
    width: 450px;
    border-radius: 20px;
    height: 50px;
    color: white;
    background-color: #000000;
    cursor: pointer;
  }

  .signup__label {
      position: absolute;
      font-size: 1.0rem;
      color: #000000;
      font-weight: 900;
  }

  .signup__small {
      margin: 0;
      padding: 0;
      width: 450px;
      color: red;
  }

  .signup__certificationBtn, .signup__duplicateBtn {
      position: absolute;
      width: 100px;
      height: 30px;
      border-radius: 5px;
      background-color: #5f0080;
      border-color: 1px solid #5f0081;
      color: white;
      border: 0px;
  }

  

 */
