.myPageNav {
  position: fixed; 
  margin-left: 45px;
  width: 200px;
}

.myProfileNav {
  margin-left: 20px;
}

.sidebar-item {
  font-size: 20px;
  margin-bottom: 10px;
  color: gray;
}

.sidebar-item.active {
  color: black;
  font-weight: 700;
}
