.myPageNav {
  position: fixed; 
  margin-left: 45px;
  width: 200px;
}

.myProfileNav {
  margin-left: 20px;
}

.sidebar-item {
  font-size: 20px;
  margin-bottom: 10px;
  color: gray;
  text-align: center;
}

.sidebar-item.active {
  color: #F9CA03;
  font-weight: 700;
  border-radius: 5px;
}

