.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

.navbar__logo__img {
    width: 100px;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__links {
    list-style: none;
    color: black;
    display: flex;
}

.navbar__links li {
    padding: 8px 12px;
}

.logoutBtn {
    width: 25px;
}