.chatting {
  display: flex;
  width: 800px;
  margin: auto;
  border-radius: 10px;
}

.chatting__list {
  background-color: #5f0080;
  width: 300px;
  border-radius: 10px 0px 0px 10px;
}

.chtting__list > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatting__list > ul > li {
  /* height: 50px; */
  padding: 15px 0px;
  text-align: center;
  color: #f0f0f0;
  font-weight: 500;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.chatting__list > ul > li:hover {
  background-color: #710097;
}

.wrapper {
  height: 650px;
  width: 800px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: auto;
}

.user {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-container {
  color: #710097;
  font-weight: 500;
  background: #c6cace;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.user-container label {
  font-size: 14px;
  margin-right: 1rem;
}

.user-container input {
  border-radius: 3px;
  border: none;
  height: 100%;
}

.display-container {
  flex: 12;
  background: #d2d6da;
  overflow-y: scroll;
}
.input-container {
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.input-container span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  width: 100%;
}
.chatting-input {
  font-size: 12px;
  height: 100%;
  flex: 8;
}
.send-button {
  flex: 1;
  background: #f9ca03;
  border: none;
  height: 100%;
  border-radius: 3px;
}

.chatting-list li {
  width: 90%;
  padding: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 0.5rem;
}

.profile {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.profile .user {
  font-size: 15px;
  margin-bottom: 0.3rem;
}
.profile .image {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.message {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 12px;
  flex: 7;
}

.time {
  font-size: 10px;
  margin: 0 5px;
}

.sent {
  flex-direction: row-reverse !important;
  float: right;
}

.sent .message {
  background-color: #f9ca03;
}

.received .message {
  background: #f9ca03;
}