.signup input {
    height: 30px;
    border: 0px;
    border-bottom: 3px solid #d3d3d3;
    width: 450px;
    text-align: center;
    font-size: 1.2rem;
}

.signup input:focus {
    outline: none;
    border-bottom: 3px solid;
    border-color: #000000;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .signup > * {
      margin-top: 2%;
  }

.signup__signupBtn {
    width: 450px;
    border-radius: 20px;
    height: 50px;
    color: white;
    background-color: #000000;
    cursor: pointer;
  }

  .signup__label {
      position: absolute;
      font-size: 1.0rem;
      color: #000000;
      font-weight: 900;
  }



  


